<div class="well">
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"> <a href="#tab1" data-toggle="tab"><strong>MOVIES</strong></a></li>
    <li> <a href="#tab2" data-toggle="tab"><strong>TV SHOWS</strong></a></li>
  </ul>
  <div class="container">
    <div class="tab-content">
      <h3>Discover New Movies & TV Shows</h3>
      <div class="tab-pane active" id="tab1">
        <form>
          <div class="form-row align-items-center">
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="year">
                <option selected>2016</option>
                <option value="1">None</option>
                <option value="2">2017</option>
                <option value="3">2016</option>
                <option value="4">2015</option>
                <option value="5">2014</option>
                <option value="6">2013</option>
                <option value="7">2012</option>
                <option value="8">2011</option>
                <option value="9">2010</option>
                <option value="10">2009</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Sort By</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Popularity Descending</option>
                <option value="1">Popularity Descending</option>
                <option value="2">Popularity Ascending</option>
                <option value="3">Rating Descending</option>
                <option value="4">Rating Ascending</option>
                <option value="5">Release Date Descending</option>
                <option value="6">Release Date Ascending</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Genres</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Filter By Genres</option>
                <option value="1">Action</option>
                <option value="2">Adventure</option>
                <option value="3">Animation</option>
                <option value="4">Comedy</option>
                <option value="5">Crime</option>
                <option value="6">Documentary</option>
                <option value="5">Drama</option>
                <option value="5">Family</option>
                <option value="5">Fantasy</option>
                <option value="5">History</option>
                <option value="5">Horror</option>
                <option value="5">Music</option>
                <option value="5">Mystery</option>
                <option value="5">Romance</option>
                <option value="5">Science Fiction</option>
                <option value="5">TV Movie</option>
                <option value="5">Thriller</option>
                <option value="5">War</option>
                <option value="5">Western</option>
              </select>
            </div> <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Keywords</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Filter By Keywords</option>
              </select>
            </div>
          </div>
        </form>
      </div> <!-- end tab1 -->
      <div class="tab-pane" id="tab2">
        <form>
          <div class="form-row align-items-center">
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>2016</option>
                <option value="1">None</option>
                <option value="2">2017</option>
                <option value="3">2016</option>
                <option value="4">2015</option>
                <option value="5">2014</option>
                <option value="6">2013</option>
                <option value="7">2012</option>
                <option value="8">2011</option>
                <option value="9">2010</option>
                <option value="10">2009</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Sort By</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Popularity Descending</option>
                <option value="1">Popularity Descending</option>
                <option value="2">Popularity Ascending</option>
                <option value="3">Rating Descending</option>
                <option value="4">Rating Ascending</option>
                <option value="5">Release Date Descending</option>
                <option value="6">Release Date Ascending</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Genres</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Filter By Genres</option>
                <option value="1">Action</option>
                <option value="2">Adventure</option>
                <option value="3">Animation</option>
                <option value="4">Comedy</option>
                <option value="5">Crime</option>
                <option value="6">Documentary</option>
                <option value="5">Drama</option>
                <option value="5">Family</option>
                <option value="5">Fantasy</option>
                <option value="5">History</option>
                <option value="5">Horror</option>
                <option value="5">Music</option>
                <option value="5">Mystery</option>
                <option value="5">Romance</option>
                <option value="5">Science Fiction</option>
                <option value="5">TV Movie</option>
                <option value="5">Thriller</option>
                <option value="5">War</option>
                <option value="5">Western</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Keywords</label>
              <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                <option selected>Filter By Keywords</option>
              </select>
            </div>
          </div>
        </form> <!-- end form -->
      </div> <!-- end tab2 -->
    </div> <!-- end container -->
  </div> <!-- end tab-content -->
</div> <!-- end tabbable -->
</div>