<div class="carousel slide" id="myCarousel">
    <div class="container">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" id="slide1">
                <div class="carousel-caption">
                    <h4>Baby Driver</h4>
                    <p>Baby is a young and partially hearing impaired getaway driver who can make any wild move while in motion with the right track playing. It's a critical talent he needs to survive his indentured servitude to the crime boss, Doc, who values his role in his meticulously planned robberies. However, just when Baby thinks he is finally free and clear to have his own life with his new girl friend, Deborah; Doc coerces him back for another job. Now saddled with a crew of thugs too violently unstable to keep to Doc's plans, Baby finds himself and everything he cares for in terrible danger. To survive and escape the coming maelstrom, it will take all of Baby's skill, wits and daring, but even on the best track, can he make it when life is forcing him to face the music?</p>
                </div><!-- end carousel-caption-->
            </div><!-- end item -->
            
            <div class="item" id="slide2">
                <div class="carousel-caption">
                    <h4>Pirates of the Carribean: Dead Men Tell No Lies</h4>
                    <p>Captain Jack Sparrow finds the winds of ill-fortune blowing even more strongly when deadly ghost pirates led by his old nemesis, the terrifying Captain Salazar, escape from the Devil's Triangle, determined to kill every pirate at sea...including him. Captain Jack's only hope of survival lies in seeking out the legendary Trident of Poseidon, a powerful artifact that bestows upon its possessor total control over the seas.</p>
                </div><!-- end carousel-caption-->
            </div><!-- end item -->
            
            <div class="item" id="slide3">
                <div class="carousel-caption">
                    <h4>The Hitman's Bodyguard</h4>
                    <p>The world's top bodyguard gets a new client, a hit man who must testify at the International Court of Justice. They must put their differences aside and work together to make it to the trial on time.</p>
                </div><!-- end carousel-caption-->
            </div><!-- end item -->
        </div><!-- carousel-inner -->
        
        <!-- Controls -->
        <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
        <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
    </div> <!-- end container -->
</div><!-- end myCarousel -->